.colss {
    transition: transform 0.3s ease;
    display: flex; /* Add display flex */
    align-items: center; /* Vertically center align */
}

.colss:hover {
    transform: scale(1.15);
    cursor: pointer;
    color: white;
}

.head {
    height: 8vh;
    color: wheat;
}

.d-flex {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
}

.text {
    text-align: center;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
}

@media screen and (max-width: 768px) {
    .head {
        height: 10vh;
    }
}
