.about-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #1E2130;
    color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid wheat;
  }
  
  .about-container h1 {
    text-align: center;
    color: wheat;
    margin-bottom: 20px;
  }
  
  .about-container p {
    font-size: 16px;
    line-height: 1.6;
    color: wheat;
    margin-bottom: 20px;
  }
  
  .about-container h2 {
    color:wheat;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  
  .about-container a {
    color: #007bff;
    text-decoration: none;
  }
  
  .about-container a:hover {
    text-decoration: underline;
  }
  
  .about-container p:last-child {
    margin-bottom: 0;
  }
  .contact-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .contact-buttons button {
    padding: 10px 20px;
    background-color: wheat;
    color: #1E2130;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .contact-buttons button:hover {
    background-color: #0056b3;
  }
  
  