<div class="about-container">
    <h1>About Me</h1>
    <p>
      I'm Ezhilan, currently studying Electrical and Electronics Engineering at Chennai Institute of Technology. I have a strong passion for technology and software development. I have developed this video conferencing app using Angular and ZEGOCLOUD.
    </p>
    
    <h2>Skills</h2>
    <p>
      I possess advanced skills in HTML and CSS, and intermediate skills in Python, MySQL, Bootstrap, Bash Scripting, Java, Angular, JavaScript, Linux, TypeScript, and C. My technical expertise allows me to develop robust and scalable applications, enhancing user experience and functionality.
    </p>
  
    <h2>Contact Information</h2>
<p>Mobile: <a href="tel:+916374432150">+91 6374432150</a></p>
<p>Email: <a href="mailto:ezhilneng&#64;gmail.com">ezhilneng&#64;gmail.com</a></p>
<div class="contact-buttons">
    <button onclick="window.open('https://ezhilan.netlify.app/', '_blank')">Portfolio</button>
    <button onclick="window.open('https://www.linkedin.com/in/ezhilan-n-b58933229?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app', '_blank')">LinkedIn</button>
    <button onclick="window.open('https://github.com/ezhilnn', '_blank')">GitHub</button>
    <button onclick="window.location.href = 'mailto:ezhilneng@gmail.com'">Email</button>
  </div>
  

  </div>
  