<div class="home">
    <div class="cont">
        <div class="row">
            <div class="col-1 dummy"></div>
            <div class="col-4">
                <div class="heading">
                    <h4><div class="content">Connect Globally, Thrive Locally <br> Bridge Borders, Build Communities!</div> </h4>
                    <div class="subs mt-10">
                        <h5 class="snub">"Forge connections across continents, strengthening communities and fostering global solidarity. Our video conferencing platform offers seamless, real-time collaboration with crystal-clear audio and high-definition video. Join a global community of professionals, educators, and innovators transforming communication. Host conferences, remote workshops, or connect with loved ones using our intuitive tools. Unlock new possibilities and create lasting impacts with every connection."</h5>
                    </div>
                    
                    <div class="image mt-14">
                        <img src="https://img.freepik.com/premium-photo/paralyzed-disabled-businesswoman-wheelchair-discussing-company-strategy_482257-20252.jpg?size=626&ext=jpg" alt="" height="100%" width="90%" class="curved-border">
                    </div>
                </div>
            </div>
            <div class="col-2"></div>
            <div class="col-4">
                <div class="imagex">
                    <img src="https://img.freepik.com/free-photo/remote-meeting-man-working-from-home-coronavirus-covid-19-quarantine-remote-office-concept_155003-12356.jpg?t=st=1716026675~exp=1716030275~hmac=ef7148caaed86fdf665390934b35209efaf5dd42c8125ab216d7f503e6302c77&w=1380" alt="" height="100%" width="100%" class="curved-border">
                </div>
                <div class="founder mt-15">
                    <div class="mt-4">
                        <p class="to">Ready to join the action? Connect instantly:</p>
                        <button type="button" class="btn btn-primary" routerLink="/join">Join the Room</button>
                    </div>
                    <div class="mt-4">
                        <p class="to">Start your own session and lead the way:</p>
                        <button type="button" class="btn btn-secondary" routerLink="/create">Create the Room</button>
                    </div>
                </div>
            </div>
            
            <div class="col-1 dummy"></div>
        </div>
    </div>
</div>